[access]
	inheritFrom = OSS/OSS-Parent
[project]
	description = TOR-Parent will server as a parent for those projects which do not require Code Review functionality.
[access "refs/*"]
	owner = group CI_Infrastructure_ENM_admin
	push = group Registered Users
	push = +force group TOR_CI_Execution
	pushMerge = group Registered Users
	pushMerge = group TOR_CI_Execution
	label-Verified = -1..+1 group Registered Users
	label-Verified = -1..+1 group TOR_CI_Execution
	create = group TOR_CI_Execution
	read = deny group Replication_CAMO_ECN_DO_NOT_REMOVE
	read = deny group Replication_CNSH_ECN_DO_NOT_REMOVE
	read = deny group Replication_DEAC_ECN_DO_NOT_REMOVE
	read = deny group Replication_SELN_ECN_DO_NOT_REMOVE
	read = deny group Replication_USSJ_ECN_DO_NOT_REMOVE
	read = group Registered Users
	read = group Replication_SEKI_ECN_DO_NOT_REMOVE
	read = group Replication_SELI_ECN_DO_NOT_REMOVE
	read = group SEKA_ECN_DEPRECATED_PLEASE_REMOVE_FROM_PROJECT_CONFIG
	read = group TOR_CI_Execution
	forgeAuthor = group Registered Users
	forgeCommitter = group TOR_CI_Execution
	submit = group TOR_CI_Execution
	createTag = group TOR_CI_Execution
[receive]
	requireChangeId = true
[submit]
	mergeContent = false
	action = fast forward only
[access "^refs/heads/d.*"]
	create = group Registered Users
	push = group Registered Users
	createTag = group Registered Users
[access "^refs/tags/d.*"]
	create = group Registered Users
	push = group Registered Users
	createTag = group Registered Users
[access "refs/for/refs/*"]
	push = group Registered Users
[access "refs/heads/*"]
	push = group Registered Users
	pushMerge = group Registered Users
	label-Code-Review = -1..+1 group Registered Users
[access "refs/meta/config"]
	read = group TOR_CI_Execution
[access "^refs/tags/b.*"]
	create = group Registered Users
	push = group Registered Users
	createTag = group Registered Users
[access "^refs/heads/b.*"]
	create = group Registered Users
	push = group Registered Users
	createTag = group Registered Users
